
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar-toggler,.tab-selected{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 15px 32px;
  /*margin: 8px;*/

}
slectedIndexTab{
  background-color: lightgrey;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 15px 32px;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 500px;
  /*border: .5px solid lightgrey;*/
}
.card button{
  border: .5px solid lightgrey;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 10px 15px;
  margin: 1rem;
  font-size: 1.2rem;

}
.list-group{

  max-width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /*border: 1px solid;*/
  align-content: center;

}
.input-container{
  max-width: fit-content;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 3rem;
}
.input-container input{
  padding: 10px;
  width: 300px;

}
.input-container button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.input-container button:hover{
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
  transition: ease;
}